<div class="container">
  <div class="row justify-content-md-center mt-4">

<!-- <h1>Notre application angular</h1>
<favorite [isFavorite]="isFavorite" (change)="onFavoriteChanged($event)"></favorite>
<panel>
  <div class="header">This is the header</div>
  <div class="body">Body</div>
</panel> -->

<!-- <courses></courses> -->

<!--
    <ul class="nav nav-pills mt-4">
      <li class="nav-item">
        <a (click)="viewCourse = 'angular'" class="nav-link" [class.active]="viewCourse == 'angular'">Angular</a>
      </li>
      <li class="nav-item">
        <a (click)="viewCourse = 'react'" class="nav-link" [class.active]="viewCourse == 'react'">React</a>
      </li>
      <li class="nav-item">
        <a (click)="viewCourse = 'laravel'" class="nav-link" [class.active]="viewCourse == 'laravel'">Laravel</a>
      </li>
    </ul>
    <div [ngSwitch]="viewCourse">
      <div *ngSwitchCase="'angular'">Lorem Angular</div>
      <div *ngSwitchCase="'react'">Lorem React</div>
      <div *ngSwitchCase="'laravel'">Lorem Laravel</div>
      <div *ngSwitchDefault>Autre chose...</div>
    </div>
-->

<!--
  <button class="btn btn-info mt-2 mb-2" (click)="loadCourses()">Load</button>
  <ul>
    <li *ngFor="let course of courses; index as i; trackBy : trackCourse" class="p-2">
      <span *ngIf="i">{{i}}</span> {{course.id}} {{course.title}}
      <button class="btn btn-danger" (click)="deleteCourse(i)">Supprimer</button>
      <button class="btn btn-primary" (click)="updateCourse(course)">Modifier</button>
    </li>
  </ul>
 -->

<!-- <input type="text"  [appInputFormat]="''"> -->
    <!-- <div class="col-md-6">
      <contact-form></contact-form>
    </div> -->

    <!-- <div class="col-md-6">
      <signup-form></signup-form>
    </div> -->

    <!-- <div class="col-md-6">
      <posts></posts>
    </div> -->
    <!-- <crono [valAffiche]="valeur" (change)="addNumber($event)"></crono> -->

    <!-- <avatar></avatar> -->
    <navbar></navbar>
    <router-outlet></router-outlet>

  </div>
</div>
