<form>
  <legend>Form title</legend>

  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
          [(ngModel)]="post.title"
          name="title"
          type="text" class="form-control"
          id="title" placeholder="Title">
  </div>

  <div class="mb-3">
    <label for="body" class="form-label">Body</label>
    <textarea
          [(ngModel)]="post.body"
          name="body"
          type="text" class="form-control"
          id="body" placeholder="body"
          required>
      </textarea>
  </div>

  <button (click)="addPost()" class="btn btn-primary" *ngIf="status">Add</button>
  <button (click)="updatePost()" class="btn btn-danger" *ngIf="!status">Update</button>
</form>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let post of posts">
    <h4>{{post.title}}</h4>
    <p>{{post.body}}</p>
    <div align="right">
      <button (click)="deletePost(post)" type="button" class="btn btn-danger">Delete</button>
      <button (click)="editPost(post)" type="button" class="btn btn-warning">Edit</button>
    </div>
  </li>
</ul>
